<div class="row">
							<div class='span4'>
								<h2>¿Colaboras?</h2>
							</div>
							<div class='span1'>
								<br>
								<%= render 'add_vacant'%>
							</div>
						</div>
						<% @board.vacants.each do |v|%>
							<%if !v.id.nil? %>
							<div class="row help">
								<div class='span3'>
									<h3><%=v.title%></h3>
									<p><%=v.description%></p>
								</div>
								<div class='span2 textc'>
									<%= render 'i_can_help', id: v.id %>
									<%= if owner? then link_to 'Descartar ', v, method: :delete end%>
								</div>
							</div>
							<br>
							<%end%>
						<%end%>