<h2>Comentarios</h2>
<%if signed_in? %>
	<%= form_for @board.comments.build(collection_id: @board.id, user_id: current_user.id) do |f|%>
		<%= f.hidden_field :collection_id %>
		<%= f.hidden_field :user_id %>
		<%= f.text_area :text, rows: 2, class: 'span5' %>
		<%= f.submit "Agregar comentario" %>
	<% end %>
<%else%>
	<h4><%=link_to 'Inicia sesión', '/signin'%> o <%= link_to 'regístrate', root_path %> para publicar comentarios en este proyecto.</h4>
<%end%>
<hr>
<%if @board.comments.count > 0 %>
	<% @board.comments.each do |c|%>
		<%if c.id %>
			<%= link_to c.user.name, c.user %>: <%= c.text%>
			<% if signed_in? && (c.user.id == current_user.id || current_user.admin || current_user.id == @board.user.id) %>
			<div class='textd'><p><small><%= link_to 'Borrar comentario', c, method: :delete %></small></p></div>
			<%end%>
			<hr>
		<%end%>
	<% end %>
<%else%>
	Este proyecto no tiene comentarios aún. Sé el primero!
<%end%>