		<h1><%= f.label :title, '¿Cómo se llama tu proyecto?', class: "products_title" %></h1>
		<%= f.text_field :title, maxlength: 50, placeholder: "Ponle nombre a tu idea.", class: "projectinfo" %>
		<%# f.label :idea, "Descríbenos ¿qué quieres hacer?" %>
		<%# f.text_area :idea, maxlength: 160, placeholder:"Explícanos brevemente tu idea. Este texto aparecerá en portada. (160 caracteres)", rows: 2 , class: "span6 h1" %>
		<%= f.label :description, "Descríbenos ¿qué quieres hacer?", class: "products_title" %>
		<%= f.text_area :description, maxlength: 1000, placeholder:"Cuéntale tu idea a la comunidad. Recuerda ser claro, para que todos te podamos ayudar. (1000 caracteres???)", rows: 6 , class: "projectinfo" %>
		<%= f.label :story, "Cuéntanos tu historia...", class: "products_title" %>
		<%= f.text_area :story, maxlength: 1000, placeholder:"Cuéntanos más sobre tu idea, qué te inspiró y por qué buscas colaboracion de la comunidad. (1000 caracteres)", rows: 6 , class: "projectinfo" %>
		<%# f.text_area :description, maxlength: 1000, placeholder:"Cuéntale tu idea a la comunidad. Recuerda ser claro, para que todos te podamos ayudar. (1000 caracteres???)", rows: 6 , class: "span6" %>

		<%# Cuéntanos tu historia... Dinos qué te inspira, cómo se te ocurrió y por qué tu idea es importante y debería apoyarte. Esto es una comunidad, queremos saber de ti.%>

		<%# f.label :contribution, "Yo puedo contribuir con" %>
		<%# f.text_area :contribution, maxlength: 500, placeholder:"Describe tu rol en el proyecto, lo que  puedes aportar. (500 caracteres)", rows: 4 , class: "span6" %>
	 	<%= f.label :city, '¿En dónde?', class: "products_title" %>
  	<div id='city'>
    	<%= render 'city'%>
  	</div>
  		<%= f.label :goal, "¿Cuál es tu meta?", class: "products_title" %>
		<%= f.text_area :goal, maxlength: 500, placeholder:"¿Cuándo considerarás concluido tu proyecto? descríbenos tu objetivo. (500 caracteres)", rows: 6 , class: "projectinfo" %>
  		<%= f.label :end_date, "Fecha tentativa para lograr tu objetivo", class: "products_title" %>
  		<%= f.calendar_date_select :end_date %>
		<%# f.date :goal, maxlength: 500, placeholder:"¿Cuándo considerarás concluido tu proyecto? descríbenos tu objetivo. (500 caracteres)", rows: 6 , class: "projectinfo" %>
	 	
