<%#receives id from vacant num%>
<% if signed_in? %>
	<%if !owner? && !collaborates? %>
		<a class="qc" data-toggle="modal" href=<%="#icanhelp"+id.to_s%> ><h3>¡Quiero Colaborar!</h3></a>
		
		<div class="modal hide fade" id=<%="icanhelp"+id.to_s%>>
		  <div class="modal-header textc">
		    <a class="close" data-dismiss="modal">×</a>
		    <h3>¡Quiero Colaborar!</h3>
		  </div>
		  <div class="modal-body">

		    <%= form_tag '/i_can_help' do %>

		  	  <%= hidden_field_tag :interlocutor_id, @board.user.id %>
		  	  <%= hidden_field_tag :collection_id, @board.id %>
		  	  <%= hidden_field_tag :vacant_id, id %>

		      <%= text_field_tag :message, nil, placeholder: "Dile a " + @board.user.name + " cómo puedes ayudar con este proyecto." , class: "span6"%>
		  </div>
		  <div class="modal-footer">
		    <a  data-dismiss="modal" href="#" class="btn btn-small">Cerrar</a>

		      <%= submit_tag "Enviar solicitud", class: "btn btn-small btn-primary" %>

		    <% end %>
		  </div>
		</div>
	<%end%>
<%else%>

		<a class="qc" data-toggle="modal" href="#icanhelp" ><h3>¡Quiero Colaborar!</h3></a>
		
		<div class="modal hide fade" id="icanhelp">
		  <div class="modal-header">
		    <a class="close" data-dismiss="modal">×</a>
		    <h3>¡Quiero Colaborar!</h3>
		  </div>
		  <div class="modal-body texti">

		    <h3>Para unirte a este proyecto, regístrate.</h3>

		    <p>Usa tu correo electrónico</p>
  <%= form_for(User.new,html: {class: 'form-inline'}) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>
  	<!--%= f.label :email %-->
  	<%= f.text_field :email, placeholder: 'correo electrónico' %>
    <%= f.submit "Registrarse ahora!", class: "btn btn-large btn-primary" %>
   <% end %>
   <p>O usa facebook</p>

    <%= link_to user_omniauth_authorize_path(:facebook) do %> <%= image_tag 'fb2.jpg', class: :fb %>
   <%end%><%= link_to "Conéctate con facebook", user_omniauth_authorize_path(:facebook), class: "fbb" %>

		  </div>
		  <div class="modal-footer">
		    <a  data-dismiss="modal" href="#" class="btn btn-small">Cerrar</a>

		  </div>
		</div>

<%end%>