<%if signed_in? && owner? %>

	<a data-toggle="modal" href="#invite2" class="btn btn-primary btn-small">Invita a un amigo</a>
	
	<div class="modal hide fade" id="invite2">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Invita a un amigo</h3>
	  </div>
	  <div class="modal-body">
	  	<h4>Si ya tiene cuenta en Funkalab:</h4>
	  	<br>
			<%= form_tag '/invite_to_collaborate' do %>
		  	  <%= hidden_field_tag :collection_id, @board.id %>


            <p><input id='name' name='name' placeholder='Escribe el nombre del usuario' type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source= '<%=raw(@names)%>' autocomplete='off'></p>

          <%= text_field_tag :message, nil, placeholder: "¿Cómo te gustaría que colaborara?" , class: "span6"%>
			<%= submit_tag "Enviar solicitud", class: "btn btn-small btn-primary" %>
		    <% end %>

<br>

  		<h4>O invita con correo electrónico</h4><br>
		<%= form_tag '/suscribe' do %>
			<%= hidden_field_tag 'board_id', @board.id %>
			<%= text_field_tag 'email1', nil, placeholder:'correo electrónico'%>
			<%= text_field_tag 'email2', nil, placeholder:'correo electrónico'%>
			<%= text_field_tag 'email3', nil, placeholder:'correo electrónico'%>	
			<br>
			<%= submit_tag 'Enviar invitaciones', class: "btn btn-primary btn-small" %>
		<% end %>
	  </div>

	  <div class="modal-footer">
		    <a  data-dismiss='modal' href="#" class="btn">Cancelar</a>
		  	


	  </div>
	</div>

<%end%>