<% provide :title, "Editar proyecto" %> 
<h1>Editar proyecto</h1>
	<h2><%= link_to @collection.title, @collection %></h2>
			<hr>
<div class="row">
  <div class = "span8">
	



	<%if @collection.status != 5 %>


	  	<%= form_for(@collection) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name", selected: @collection.category.id) %>
				 	<%= f.label :site, 'Sitio' %>
			<%= f.text_field :site, placeholder:"Escribe un sitio donde podamos saber más.", class: "span6"%>
			<br>
			<%= f.submit "Actualizar" %>
		<% end %>
		<%= link_to "Eliminar proyecto", @collection, method: :delete, title: "eliminar proyecto", confirm: "¿Estás seguro? No podrás deshacer esta acción." %>

	<%else%>
		<br>
		<h4><%= @collection.description %></h4>
		<%= link_to "Eliminar proyecto", @collection, method: :delete, title: "eliminar proyecto", confirm: "¿Estás seguro? No podrás deshacer esta acción." %>
		<br>
		<hr>
		<%= form_for(@collection) do |f| %>
			<%= f.label 'Escribe tu conclusión del proyecto' %>
			<%= f.text_area :conclusion, rows: 8, class: 'span6' %>
			<%= f.submit "Guardar" %>
		<%end%>
		<div id='exlinks'>
			<%= render 'exlinks'%>
		</div>

		<hr>
		<%= link_to 'Terminar e ir al proyecto', @collection , class: 'btn btn-large' %>

	<%end%>
	
  </div>
  <div class = 'span3'>
  	<h3>Colaboradores</h3>
  	<% @collection.collaborations.each do |c| %>
  		<hr>
  		<%= render 'shared/user_card', user: c.user %>
  		<%= link_to 'Eliminar', c, method: :delete, title: "Eliminar este colaborador del proyecto", confirm: "¿Estás seguro de eliminar a este colaborador?" %>
  	<% end %>
  </div>
</div>