<% provide :title, "Editar proyecto" %> 
<div class="row">
  <div class = "span6 offset3">
	<h1>Editar proyecto</h1>
	<h2><%= @collection.title %></h2>
	<hr>
  	<%= form_for(@collection) do |f| %>
		<%= render 'fields', f: f %>
		<%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name", selected: @collection.category.id) %>
		<br>
		<%= f.submit "Actualizar" %>
	<% end %>
	<%= link_to "Eliminar proyecto", @collection, method: :delete, title: "eliminar proyecto", confirm: "¿Estás seguro? No podrás deshacer esta acción." %>
  </div>
</div>