</div>
<% provide :title, "Explorar" %> 
<div class="explorer_banner textc">
	<div="row">
		<div class="explorer_vp">
			<h1>Haz tu proyecto creativo con la comunidad de creadores en México.</h1>
			<h3>En tu ciudad hay diseñadores, músicos, fotógrafos, ilustradores y artistas que pueden colaborar contigo para que termines esa idea que tienes en mente. </h3><h4><%= link_to 'Quiero saber más...','/about'%></h4>
		</div>
		<%= link_to 'Crear proyecto', '/newproject', class: 'important_button' %>
	</div>
</div>
<div class='container'>
<br>
	<div class= 'row'>
		<div class='span4'>
			<h4>Todos | <%= link_to 'Exitosos', '/finished'%></h4>
		</div>


		<div class = 'span1 offset6'>
			<div class="fb-like pull-right" data-href="https://www.facebook.com/funkalab" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

		</div>
		<div class = 'span'>
			<a href="https://twitter.com/funkalab" class="twitter-follow-button" data-show-count="false" data-lang="es" data-show-screen-name="false">Seguir a @funkalab</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>

<hr>
	<%=render'shared/categories'%>
<hr>
	<div class="row-fluid">
		<div class="span12">
			<div id="promoboards">
			<%= render 'shared/boards', boards:@promoboards, first: true %>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div id="allboards">
			<%= render 'shared/boards', boards:@allboards, first: false  %>
			</div>
		</div>
	</div>