</div>
<% provide :title, "Explorar" %> 
<div class="idea textc">
	<h1>Funkalab es la comunidad para colaborar en tus proyectos creativos.</h1>
		
	<h4>Inicia un <%= link_to 'nuevo proyecto', new_collection_path %> o colabora con otros creativos. <%= link_to 'Ver más.','/about'%></h4>
</div>
<div class='container'>
<hr>
	<h4>Todos | <%= link_to 'Exitosos', '/finished'%></h4>
<hr>

	<%=render'shared/categories'%>
<hr>
	<div class="row-fluid">
		<div class="span12">
			<div id="promoboards">
			<%= render 'shared/boards', boards:@promoboards, first: true %>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div id="allboards">
			<%= render 'shared/boards', boards:@allboards, first: false  %>
			</div>
		</div>
	</div>