<% provide :title, @board.title %> 
<% if !signed_in? %>
	<div class="llena textc">
		<h3>Para unirte a este proyecto <%= link_to 'inicia sesión', '/signin' %> o <%= link_to 'regístrate', root_path %>.</h3>
	</div>
	<br>
<% end %>
<% if signed_in? and current_user.about == "" %>
	<%=link_to edit_user_path(current_user) , class: "llena textc" do %>
		<h1>Completa tu perfil para que el colectivo te conozca mejor.</h1>
		<h4>Haz click aquí para editar tu perfil.</h4>

	<%end%>
<%end%>

<div class="row">
	<div class="span12 proheader">
		<%#Begins project header bar%>
		<div class = "row">
			<div class="span10 offset1 proh">
				<%#centrar%>
				<div class="prohh">
				<div class="proheadcent">
				<h1><%= @board.title+ ' ' %>

				</h1>
				<h4>Por <%=link_to @board.user.name, @board.user, rel: "tooltip", :"data-placement"=> "bottom", title: @board.user.about %>
				
				</h4>
				</div>

				<%if @board.category %>
				<div class ='lablover'>
		<div class= "<%='b'+@board.category_id.to_s%>">
			<p><small><%= @board.category.name %></small></p>
		</div></div>
		<%end%>

				</div>
				<%#/centrar%>


			</div>
			<div class = 'span1'>
				
				<%= render 'admin'%>
				
			</div>
		</div>
		<div class = 'row'>
			<div class='span4'>
				<div class='row'>
					<div class='span3'>
				<b>Estatus:</b> <%= @board.statustext %> <br><small> <%=render 'editstatustext'%></small>
					</div>
				</div>
				
			</div>
			<div class='span4 offset4'>
				<p><b>Lugar:</b> <%= if @board.city_id == 0 then 'En Línea' else @board.city.name + ", " + @board.city.state.name end %></p>
				<p><b>Sitio: </b><%= raw(make_nice(@board.site)[3..1000])%></p>
				
				
			</div>
		</div>
		<div class = 'row'>
			<div class= 'span4'>
				<br>
				<p>Creado: <%= tiempo(@board.created_at)%>, Actualizado: <%= tiempo(@board.updated_at)%></p>
			</div>
			<div class = 'span4 offset4'>
				<%#link_to 'Compartir','#', class: 'btn btn-large btn-info'%>
				<%= render 'sharepop'%>
				<%= render 'follow' if signed_in? && !owner? %>
				<%if signed_in? && (owner? || current_user.admin) %>
					<%= link_to "Editar", edit_collection_path(@board), class: "btn btn-large" %>
				<%end%>
			</div>
		</div>


			<%# render 'status' %> 


			<%# render 'invite' if @board.status != 5 %>
			
	</div>	
	<div class = 'span12'>

			
		<br><br>

		<ul id="WoI" class="nav nav-tabs">
			<li class="active"><a href="#work" data-toggle="tab">Proyecto</a></li>
			<li><a href="#inspiration" data-toggle="tab">Inspiración</a></li><li><a href="#comments" data-toggle="tab">Comentarios (<%=@board.comments.count%>)</a></li>
		</ul>
		<div id="WoIContent" class="tab-content">
			<div class="tab-pane fade in active" id="work">
<%# division to work %>
				<div class="row">
					<div class="span6">

						<%if @board.cover != 0%>
							<%= wrap(default_OG_b(embedded_b(@board.items.find(@board.cover).content, 6))) %>
						<%else%>
							<%= image_tag(dummycover(@board.category_id))%>
						<%end%>

						<%# render 'share' -version anterior a solo el fblike- %>
						<%= render 'fblike'%>
						<h2>La idea</h2>
						<p><%= @board.idea %></p>
						<% if @board.description == ''%>
							<% if signed_in? && owner? %>
								<h2>Descripción</h2>
								<p><%= link_to '¡Por favor provee una descripción de tu proyecto!', edit_collection_path(@board) %></p>
							<%end%>
						<%else%>
							<h2>Descripción</h2>
							<p><%= @board.description %></p>
						<%end%>
						<% if @board.contribution != '' %>
							<h2>Mi aportación es</h2>
							<p><%= @board.contribution %></p>
						<%end%>

						<%if @board.status == 5%>
							<%= render 'finished' %>
							
						<%else%>

							<h2>Progreso</h2>
						<%end %>



							<% if collaborates? %><%=render 'shared/add_item', kind: 1 %><% end%>
						

						<%= render 'wcollections' %>


						
						<br>
						<br>
						<br>
					</div>
<%#rigt side%>
					<div class="span5 offset1">
						<%if @board.status != 5 %>
							<%= render 'collaborate'%>
							<small><%=if collaborator? then link_to 'Abandonar', @board.collaborations.find_by_user_id(current_user.id) , method: :delete, title: "Abandonar este proyecto", confirm: "¿Estás seguro de abandonar este proyecto?", class: 'pull-right' end %></small>
						<%else%>
							<%= render 'finishlinks'%>
						<% end %>
						<hr>
						<%= render 'collaborators' %>
						
					</div>
				</div>
			</div>
<%#Division to inspiration%>

			<div class="tab-pane fade" id="inspiration">
				<% if collaborates? %><%=render 'shared/add_item', kind: 0 %><% end%>
				<%= render 'icollections' %>
				<br>
			</div>
			<div class="tab-pane fade" id="comments">
						<%= render 'comments'%>
			</div>

		</div>
	</div>
</div>

<%= render 'share_now'%>
<% if signed_in? && current_user.extra.newboard %>
	<script type="text/javascript">
	    $(window).load(function(){
	        $('#sharenow').modal('show');
	    });
	</script>
	<%current_user.extra.toggle!(:newboard)%>
<%end%>