<% if !signed_in? %>
	<div class="idea">
		<h3>To join this project just <%= link_to 'login', root_path %> or <%= link_to 'sign up', '/signin'%>.</h3>
	</div>
<% end %>
<div class="row-fluid">
	<div class="span12">
		<h1><%= @board.title %> <small><%= link_to @board.category.name, nav_path(category: @board.category.id)%></small></h1>
		<h3>by <%=link_to @board.user.name, @board.user %>
			<% if @board.collaborators %>
				<% @board.collaborators.each do |c| %>
					<%=", "%><%=link_to c.name, c %>
				<% end %>
			<% end %>
		</h3>
		</br>
		<h2>The Idea</h2>
		<p class="lead"><%= @board.description %>
		<div class="row">
			<% if signed_in? %>
				<div class='span1'><%= render 'i_can_help'%></div>
			<%end%>
			<div class='span10'><p><%=@board.needs%></p></div>
		</div>
		<div class="row">
			<%if signed_in? && (owner? || current_user.admin) %>
				<small><%= link_to "edit board", edit_collection_path(@board) %></small></p>
				<% if owner? %>
					<div class='span2'><%= render 'invite' %></div>
				<% end %>
			<% end %>
			<%= render 'share' %>
		</div>
		<hr>
		<%= if collaborates? then render 'shared/add_item' end%>
		
	</div>
</div>
<div id='user_collections'>
	<%= render 'collections' %>
</div>
<% if @board.items.count==0 and @board.collaborations.empty? and owner? %>
	<script type="text/javascript">
	    $(window).load(function(){
	        $('#Invite').modal('show');
	    });
	</script>
<!--a class="btn" data-toggle="modal" href="#Invite" Launch Modal/a-->

<div class="modal active" id="Invite">

	<div class="modal-header">
	  <a class="close" data-dismiss='modal' href="#">×</a>
	  <br>
	</div>

	<div class="modal-body">
	  <p><h2> Invite a friend to help you </h2></p>
	  <%= form_tag '/suscribe' do %>
		<%= hidden_field_tag 'board_id', @board.id %>
		<%= text_field_tag 'email1', nil, placeholder:'email address', class: 'offset1'%>
		<%= text_field_tag 'email2', nil, placeholder:'email address', class: 'offset1'%>
		<%= text_field_tag 'email3', nil, placeholder:'email address', class: 'offset1'%>
	</div>

	<div class="modal-footer">
	  	<a  data-dismiss='modal' href="#" class="btn">Close</a>
	  	<%= submit_tag 'Send invitations', class: "btn btn-primary" %>
	  <% end %>

	</div>
</div>
<%end%>