<div class="row-fluid">
	<div class="span12">
		<h1><%= @board.title %></h1>
		</br>
		<h2><%= @board.description %></h2>
		</br>
		<%if @board.user.id == current_user.id %>
			<%= link_to "edit board", edit_collection_path(@board) %>
			<hr>

			<%= render 'shared/add_item' %>
			<%else%>
			<hr>
		<% end %>
	</div>
</div>
<% indexes = arr_4_cols(@board.items.count,@size) %>
<div class="row-fluid">
	<% indexes.each do |col| %>
		<div class=<%="span#{@size}" %>>
			<div class="row-fluid">
				<% col.each do |i| %>
					<div class="board-item ">
					<% item = @board.items[i] %>
			  	    	<%= embedded(item.content, @size.to_i) %>
			  		</div>
			  		<%= render 'gear', item: item%>
				<% end %>
			</div>
		</div>
	<% end %>
</div>