 <h1><%= @board.title %></h1>
</br>
	<h2><%= @board.description %></h2>
</br>
<%if @board.user.id == current_user.id %>
	<%= link_to "edit board", edit_collection_path(@board) %>
	<hr>
	<%= render 'shared/add_item' %>
<% end %>
<% for item in @board.items do %>
	  <% if item.id %>

  	    <div class = <%="span#{@size}" %> >

  	    	<%= embedded(item.content, @size.to_i) %>

			<ul class="nav nav-pills">
			<li class="dropdown" id="<%= "options"+item.id.to_s %>">
				<a class="dropdown-toggle" data-toggle="dropdown" href="<%= "#options"+item.id.to_s%>">
					<i class="icon-cog"></i>
					<b class="dropdown-menu"></b>
				</a>
				<ul class="dropdown-menu">
					<li>Share in Board:</li>
					<li class="divider"></li>
					<% for b in current_user.collections %>
						<% if b.id != @board.id %>
							<li><%= link_to b.title, controller: "collections", action:"crosspost", board_id: b.id, content: item.content %></li>
						<% end %>
					<% end %>
					<li class="divider"></li>
					<li class="divider"></li>
					<% if @board.user.id == current_user.id %>
						<li><%= link_to 'x', item, method: :delete, title: "remove item" %></li>
					<% end %>
				</ul>                                
			</li>
			</ul>
  	    </div>
  	  <% end %>
	<% end %>
