<div class="row-fluid">
	<div class="span12">
		<h1><%= @board.title %> <small><%= link_to @board.category.name, nav_path(category: @board.category.id)%></small></h1>
		<h3>by <%=link_to @board.user.name, @board.user %>
			<% if @board.collaborators %>
				<% @board.collaborators.each do |c| %>
					<%=", "%><%=link_to c.name, c %>
				<% end %>
			<% end %>
		</h3>
		</br>
		<p class="lead"><%= @board.description %>
		<div class="row">
			<div class='span1'><%= render 'i_can_help'%></div>
			<div class='span10'><p><%=@board.needs%></p></div>
		</div>
		<%if owner? || current_user.admin %>
			<small><%= link_to "edit board", edit_collection_path(@board) %></small></p>
			<%= render 'invite'%>
			<hr>
		<%else%>
			<hr>
		<% end %>
		<%= if collaborates? then render 'shared/add_item' end%>
		
	</div>
</div>
<% indexes = arr_4_cols(@board.items.count,@size) %>
<div class="row-fluid">
	<% indexes.each do |col| %>
		<div class=<%="span#{@size}" %>>
			<div class="row-fluid">
				<% col.each do |i| %>
					<div class="board-item ">
					<% item = @board.items[i] %>
			  	    	<%= wrap(embedded(item.content, @size.to_i)) %>
			  		</div>
			  		<%= render 'gear', item: item%>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

<% if @board.items.count==0 and @board.collaborations.empty? and owner? %>
	<script type="text/javascript">
	    $(window).load(function(){
	        $('#Invite').modal('show');
	    });
	</script>
<!--a class="btn" data-toggle="modal" href="#Invite" Launch Modal/a-->

<div class="modal active" id="Invite">

	<div class="modal-header">
	  <a class="close" data-dismiss='modal' href="#">×</a>
	  <br>
	</div>

	<div class="modal-body">
	  <p><h2> Invite a friend to help you </h2></p>
	  <%= form_tag '/suscribe' do %>
		<%= hidden_field_tag 'board_id', @board.id %>
		<%= text_field_tag 'email1', nil, placeholder:'email address', class: 'offset1'%>
		<%= text_field_tag 'email2', nil, placeholder:'email address', class: 'offset1'%>
		<%= text_field_tag 'email3', nil, placeholder:'email address', class: 'offset1'%>
	</div>

	<div class="modal-footer">
	  	<a  data-dismiss='modal' href="#" class="btn">Close</a>
	  	<%= submit_tag 'Send invitations', class: "btn btn-primary" %>
	  <% end %>

	</div>
</div>
<%end%>