<div class="row-fluid">
	<div class="span12">
		<h1><%= @board.title %></h1>
		</br>
		<h2><%= @board.description %>


		<%if owner? %>
			<small><%= link_to "edit board", edit_collection_path(@board) %></small></h2>
			<%= render 'invite'%>
			<hr>
		<%else%>
			<hr>
		<% end %>
		<%= if collaborates? then render 'shared/add_item' end%>
		
	</div>
</div>
<% indexes = arr_4_cols(@board.items.count,@size) %>
<div class="row-fluid">
	<% indexes.each do |col| %>
		<div class=<%="span#{@size}" %>>
			<div class="row-fluid">
				<% col.each do |i| %>
					<div class="board-item ">
					<% item = @board.items[i] %>
			  	    	<%= wrap(embedded(item.content, @size.to_i)) %>
			  		</div>
			  		<%= render 'gear', item: item%>
				<% end %>
			</div>
		</div>
	<% end %>
</div>