<div class="row-fluid">
	<div class="span12">
		<h1><%= @board.title %></h1>
		<h3>by <%=link_to @board.user.name, current_user%>
			<% if @board.collaborators %>
				<% @board.collaborators.each do |c| %>
					<%=", "%><%=link_to c.name, c %>
				<% end %>
			<% end %>
		</h3>
		</br>
		<p class="lead"><%= @board.description %>


		<%if owner? %>
			<small><%= link_to "edit board", edit_collection_path(@board) %></small></p>
			<%= render 'invite'%>
			<hr>
		<%else%>
			<hr>
		<% end %>
		<%= if collaborates? then render 'shared/add_item' end%>
		
	</div>
</div>
<% indexes = arr_4_cols(@board.items.count,@size) %>
<div class="row-fluid">
	<% indexes.each do |col| %>
		<div class=<%="span#{@size}" %>>
			<div class="row-fluid">
				<% col.each do |i| %>
					<div class="board-item ">
					<% item = @board.items[i] %>
			  	    	<%= wrap(embedded(item.content, @size.to_i)) %>
			  		</div>
			  		<%= render 'gear', item: item%>
				<% end %>
			</div>
		</div>
	<% end %>
</div>