<br>

<a class="hlp" data-toggle="modal" href="#icanhelp" >¡Quiero Colaborar!</a>

<div class="modal hide fade" id="icanhelp">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Quiero colaborar</h3>
	</div>
	<div class="modal-body">

		<h3>Para unirte a este proyecto, crea una cuenta.</h3>

		<p>Usa tu correo electrónico</p>
  		<%= form_for(User.new,html: {class: 'form-inline'}) do |f| %>
	  		<%= render 'shared/error_messages', object: f.object %>
	  		<!--%= f.label :email %-->
	  		<%= f.text_field :email, placeholder: 'correo electrónico' %>
	    	<%= f.submit "¡Registrarme ahora!", class: "btn btn-large btn-primary" %>
   		<% end %>
   		<p>O entra con Facebook</p>

    	<%= link_to user_omniauth_authorize_path(:facebook) do %> <%= image_tag 'fb2.jpg', class: :fb %>
   		<%end%><%= link_to @s1.tls.find_by_i(4).t, user_omniauth_authorize_path(:facebook), class: "fbb" %>

	</div>
	<div class="modal-footer">
		<a  data-dismiss="modal" href="#" class="btn btn-small">Cerrar</a>

	</div>
</div>