<%if @sprojects.count >= 1%>
<div class='m1'>
<div class='container'>
<div class='span12'>
	<div class="row">
	  <div class="span9 offset2 columns">
	  	<div class= 'success-t'>
		  <h2><%=@s2.tls.find_by_i(1).t%></h2>
		</div>
		

		<div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">

                <% @sprojects.each do |s|%>
                  <div class="<%=if s == @sprojects.first then "item active" else "item" end%>">
	                <%= cover(Item.find(s.collection.cover))%>
	                <div class="carousel-caption">
	                  <h3><%= link_to s.collection.title, s.collection %></h3>
	                  <h3><%=s.text%></h3>
	                </div>
	              </div>
	            <%end%>

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>

      	

		<br>
		<br>
	  </div>
	</div>
</div>
</div>
</div>
<%end%>