<div class="center hero-unit">
</br>
<h2>A lab for your creative projects.</h2>
</br>
<h3>Where am I?</h3>
<p>Funkalab is a <b>space</b> to shape your <b>ideas</b>, using what inspires you to develop your <b>creative projects</b>. We want to help you grow your ideas from simple thoughts or sketches to real and interesting projects. </p>
</br>
<h3>How am I going to do that?</h3>
<p>We want you to get all of your <b>ideas, references and images</b> that can enhance your <b>creative projects</b> in one single place. Think someone else can help you? Just invite him over! Having trouble finding inspiration? Browse through similar <b>projects</b> and see what inspires other creatives!</p>
</br>
<h3>How do I work on my project?</h3>
<p>-First thing to do is give a name and description of your idea.</p>
<p>-Next, start posting videos, images, links or notes to your project’s board.</p>
<p>-You can also browse other projects in similar categories and send anything from that project to your own! </p>
<p>-Finally, invite any creative you think can collaborate in your new creative project. It can be someone you know or anyone from Funkalab that shares your interests. Start now!</p>
<br/>
<h3>For example?</h3>
<p>Imagine you want to make a new music video: </p>
<p>-Describe it: “A music video that uses colorful illustrations and collages”. </p>
<p>-Add colorful music videos, illustrations you really appreciate, or a useful tutorial to your board. </p>
<p>-Explore the category “film” and get inspired by other projects similar to yours.</p>
<p>-Invite your 2 friends that are working in their next short film and “that guy” that was always making amazing illustrations in his sketchbook to help you out.
<p>-Now go out and start filming! Don´t forget to share it on Funkalab.</p> 
</br>
<h3>Why should I use Funkalab?</h3>
<p>There isn’t a true platform for creatives to develop their projects online. It looks like every creative page only wants to showcase your final product. But how about a platform for creatives to really polish their work through a process that enhances personal inspiration and collaboration? Funkalab is that <b>space</b> and aims to be a place where your ideas and projects grow with your personal work, your own inspiration, and collaboration from other creatives like yourself.</p>
</br>
<h3>Know any way we can get better or want to invite us a pizza?</h3>
<p>We want to make this a great journey and we cannot make it without you. Don’t hesitate to contact us through Facebook, Twitter or our personal emails.</p>
</br>
<p>
        <i>General Purpose</i><br>
        <%=mail_to 'hello@funkalab.com' %><br>
        <%=link_to "Twitter: @funkalab", 'https://twitter.com/funkalab' %>
</p>
</br>
<p>
        <i>Alberto Saenz:</i> “I have a passion for Architecture, Illustration, and Videogames. Invite me to one of your projects if you need a hand.”<br>
        <%=mail_to 'alberto@funkalab.com' %><br>
</p>
</br>
<p>
        <i>Mac Contreras:</i> “Coding and music. Drop me a line or invite to your projects. Enjoy!”<br>
        <%=mail_to 'mac@funkalab.com' %><br>
</p>
</br>
<p>
        <i>Rodrigo Tello:</i> “Hi, I'm obssesed with music and design. I like making things. I can also answer emails and solve problems”<br>
        <%=mail_to 'rodrigo@funkalab.com' %><br>
</p>

</div>
