<% provide :title, "Acerca de" %> 
<div class="center hero-unit">
</br>
<h2>La comunidad para desarrollar tus proyectos creativos.</h2>
</br>
<h3>¿Dónde estoy?</h3>
<p>Funkalab es el lugar para compartir tus ideas creativas y desarrollarlas con nuestra comunidad. Queremos hacer que tus proyectos creativos crezcan desde simples ideas hasta ser desarrollados por completo.</p>
</br>
<h3>¿Qué tengo que hacer?</h3>
<p><b>Compártenos tu idea creativa.</b> Explícanos de qué trata tu proyecto, las referencias que tengas para desarrollarlo y el material que hayas generado hasta el momento.</p>
<p><b>Conéctate con creativos locales.</b> Platícanos que necesitas y deja que otros creativos interesados en tu idea te contacten. Puedes invitar a tus amigos a ser parte del proyecto.</p>
<p><b>Crea tu proyecto.</b> ¡Ahora tienes equipo y pueden trabajar juntos! Al finalizar el proyecto, compártelo con la comunidad de creativos más activa de tu ciudad.</p>
</br>

<h3>¿Por ejemplo?</h3>
<p><b>Digamos que quieres hacer una animación digital con música electrónica,</b> pero no sabes como componer una canción y no encuentras nada online.</p>
<p><b>Sube tu proyecto a Funkalab.</b> Describe cómo te imaginas la animación, sube algunos ejemplos de tus dibujos o pega videos similares.</p>
<p><b>Encuentra a un músico,</b> solo explica que música buscas o invita a un músico en nuestra plataforma con intereses similares. Seguro harán un buen equipo.</p>
<p><b>Crea tu video. </b>Ya que tengas a tu equipo, pónganse de acuerdo para hacer el video. </p>
<p><b>Compártelo con nuestra comunidad. </b>Al finalizar, sube el video a nuestra plataforma para ser una muestra del éxito que puede tener la colaboración entre creativos.</p>
<br>

<h3>¿Porqué debería de usar Funkalab?</h3>
<p><b>Muchas veces, colaborar es lo único que nos falta para hacer lo que más nos gusta: nuestros proyectos personales.</b> En nuestra ciudad hay músicos, ilustradores, fotógrafos, diseñadores y artistas que complementan lo que podemos hacer y están dispuestos a colaborar para producir proyectos en conjunto. </p>
</br>

<h3>¿Cuál es el truco?</h3>
<p>No hay truco. Funkalab quiere ser una plataforma para conectar creativos. Es nuestra forma de apoyar las ideas que hay allá afuera y que nunca se logran concretar. Lo único que te pedimos es compartir créditos: si traes tu proyecto a Funkalab, el proyecto se convierte del equipo que lo trabajó. Es nuestra manera de incentivar el desarrollo colaborativo de proyectos en donde todos ganamos.</p>
</br>

<h3>¿Crees que podemos mejorar o nos quieres invitar una pizza?</h3>
<p>Queremos que Funkalab sea una gran experiencia y no podemos hacerlo sin tu ayuda. No dudes en contactarnos por Facebook, Twitter o nuestros correos personales. Gracias por ser parte de Funkalab.</p>
</br>

<p>
        <i>Contacto</i><br>
        <%=mail_to 'hello@funkalab.com' %><br>
        <%=link_to "Twitter: @funkalab", 'https://twitter.com/funkalab' %>
</p>
</br>
<p>
        <i>Alberto Saenz:</i> “ ‘Haz lo que te apasiona’. ¿Cuántas veces no nos han dicho ésto? Si crees que es hora de empezar a hacerles caso, bienvenido a Funkalab.”<br>
        <%=mail_to 'alberto@funkalab.com' %><br>
</p>
</br>
<p>
        <i>Mac Contreras:</i> “Programación y música. Escríbeme o invítame a un proyecto. ¡Disfruta Funkalab!”<br>
        <%=mail_to 'mac@funkalab.com' %><br>
</p>
</br>
<p>
        <i>Rodrigo Tello:</i> “Hola, me obsesiona la música y el diseño. Me gusta hacer cosas. También puedo responderte un correo y resolver problemas.”<br>
        <%=mail_to 'rodrigo@funkalab.com' %><br>
</p>

</div>
