<div class="row-fluid">
	<div class="span12">
		<h2>===ADMINS===</h2>
		<h3><%=link_to 'Usuarios', '/users'%></h3>
		<h3><%=link_to 'Comentarios', '/comments'%></h3>
		<h3><%=link_to 'Landing', '/sections'%></h3>
		<h3><%=link_to 'Proyectos exitosos', '/sprojects'%></h3>
		<hr>
		<h2>Premio del día</h2>
		<%= image_tag @i %>
	</div>
</div>