<% provide(:title, 'Business') %>
<div class = 'row'>
	<div class = 'span12'>
		<div class = 'row'>
			<div class = 'span7'>
				<div class = 'bussdiv0'>
					<h1>¿Qué es Funkalab?</h1>
				</div>
			</div>
			<div class = 'span5'>
				<h3>Funkalab es una comunidad de creativos, artistas, diseñadores, músicos, arquitectos, publicistas, hackers, cineastas, programadores, profesionales y amateurs, que colaboran entre sí, con el fin de crear y conectarse con las mejores ideas.</h3>
			</div>
		</div>
		<br><br>
		<div class='row bussdiv1'>
			<div class = 'span10 offset1'>
				<h1>¿Quieres hacer negocios con nosotros?</h1>
				<h1>Genial, nosotros también.</h1>
			</div>
			<br><br><br><br><br><br>
			<div class = 'span8 offset2'>
				<h2>Si tú o tu compañía quieren hacer negocios con nosotros (ya sea patrocinando algún proyecto, necesitas ayuda o invirtiendo en nosotros), te presentamos varias opciones.</h2>
			</div>
		</div>
		<div class='row bussdiv2'>
			<div class = 'span10 offset1 textc'>
				<h1>¿Por qué Funkalab?</h1>
			</div>
			<br><br><br><br><br>
			<div class = 'span6 offset3'>
				<h3>Los jóvenes tienen las ideas</h3>
				<h3>Las mejores ideas están escondidas</h3>
				<h3>Colaboración > competencia</h3>
				<h3>Es un mercado de</h3>
				<h3>Somos una red, no una agencia</h3>
				<h3>Te involucras con tu usuario</h3>
				<h3>Somos una fábrica de ideas</h3>
			</div>
		</div>
		<div class='row bussdiv3'>
			<div class = 'span3 offset1'>
				<h2><strong>Sí nos gusta :)</strong></h2>
				<br>
				<h3>Colaborar</h3>
				<h3>Resolver problemas</h3>
				<h3>Hacer ruido</h3>
			</div>
			<div class = 'span3 offset4'>
				<h2>No nos gusta :(</h2>
				<br>
				<h3>Explotar freelancers</h3>
				<h3>Trabajo gratis</h3>
			</div>
		</div>
		<br><br>
		<div class='row'>
			<div class ='span10 offset1'>
				<div class ='row'>
					<div class = 'span8 textc'> 
						<br><br>
						<h1>Esto es lo que hacemos:</h1>
					</div>
				</div>
				<br>
				<%= image_tag 'http://images.hellokisses.com/cache/images/61989-0701cf-500-667.jpg' %>
				<h1>Puente del árbol</h1>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</div>
		</div>
		<br><br>
		<div class='row'>
			<div class ='span12 textc'>
				<br><br><br><br>
				<h1>Ellos hablan bien de nosotros:</h1>
				<br>
				<%= image_tag 'prensa.png'%>
				<br><br><br><br>
			</div>
		</div>
	</div>
</div>

</div>
<div class='bussdiv4'>
<div class='container'>
<div class='span12'>
	<div class="row">
	  <div class="span5 offset1">
	  	<h3>Los proyectos de Funkalab son propuestas de creativos independientes que hacen cosas por diversión. La mejor forma de integrarte a estas ideas es apoyándolas. Ellos tienen las ideas, nosotros somos el medio para acercarte a ellos.</h3>
	  </div>
	  <div class="span5 offset1">
	  	<h1>Apoya un proyecto existente</h1>
	  	<h2>Aquí están las mejores ideas, un empujón no les haría mal.</h2>
	  	<%= link_to 'Aquí', "#", class: 'btn pull-right'%>
	  </div>
	</div>
</div>
</div>
</div>

<div class='bussdiv5'>
<div class='container'>
<div class='span12'>
	<div class = 'textc'>
		<h1>Crea un proyecto</h1>
	</div>
	<br>
	<div class="row">
	  <div class="span4 offset1">
	  	<h2>Una frase bien chingona de como te ayudamos</h2>
	  </div>
	  <div class="span6">
	  	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</h4>
	  	<%= link_to 'Aquí', "#", class: 'btn pull-right'%>
	  </div>
	</div>
</div>
</div>
</div>

<div class='bussdiv6'>
<div class='container'>
<div class='span12'>
	<div class="row">
	  <div class="span4 offset1">
	  	<h1>Consultoría</h1>
	  	<br>
	  	<h2>Tenemos buenas ideas y nos gusta compartirlas.</h2>
	  </div>
	  <div class="span5 offset1">
	  	<h4>Si tu compañía necesita refrescarse, no dudes en buscarnos. Si necesitas desarrollar un nuevo producto, un video, publicidad BTL o solo te interesa pensar más creativamente, dinos.</h4>
	  	<br>
	  	<%= link_to 'Aquí', "#", class: 'btn pull-right'%>
	  </div>
	</div>
</div>
</div>
</div>

<div class='bussdiv7'>
<div class='container'>
<div class='span12'>
	<div class="row">
	  <div class="span4 offset1">
	  	<h1>Invertir</h1>
	  	<br>
	  	<h3>Invierte ahorita (es más barato, después ya no). </h3>
	  </div>
	  <div class="span5 offset1">
	  	<p>Si ves potencial en Funkalab, igual que nosotros, como una plataforma que pueda ayudar a creativos a desarrollar sus ideas y crear productos innovadores.</p>
	  	<br>
	  	<%= link_to 'Aquí', "#", class: 'btn pull-right'%>
	  </div>
	</div>
</div>
</div>
</div>

<div class='container'>
	<div class='span8 offset2'>
		<br><br><br>
		<p> Escríbenos aquí:</p>
		<br>
		<div class = 'bussmail'>
			<p>hello@funkalab.com</p>
		</div>
		<br>
		<br>
		<p> O búscanos aquí:</p>
		<br>
		<div class='row'>
			<div class = 'span4 textc'>
				<%= link_to 'facebook', 'http://www.facebook.com/funkalab', class: 'bussfb'%>
			</div>
			<div class = 'span4 textc'>
				<%= link_to 'twitter', 'http://www.twitter.com/funkalab', class: 'busstw'%>
			</div>
		</div>
		<br><br>
	</div>