<% provide :title, "Contacto" %> 
<div class="center hero-unit">
</br>
<h2>¿Crees que podemos mejorar o nos quieres invitar una pizza?</h2>
<p>Queremos que Funkalab sea una gran experiencia y no podemos hacerlo sin tu ayuda. No dudes en contactarnos por Facebook, Twitter o nuestros correos personales. Gracias por ser parte de Funkalab.</p>
</br>

<p>
        <i>Contacto</i><br>
        <%=mail_to 'hello@funkalab.com' %><br>
        <%=link_to "Twitter: @funkalab", 'https://twitter.com/funkalab' %>
</p>
</br>
<p>
        <i>Alberto Saenz:</i> “Si crees que es hora de hacer lo que te apasiona, bienvenido a Funkalab.”<br>
        <%=mail_to 'alberto@funkalab.com' %><br>
</p>
</br>
<p>
        <i>Mac Contreras:</i> “Programación y música. Escríbeme o invítame a un proyecto. ¡Disfruta Funkalab!”<br>
        <%=mail_to 'mac@funkalab.com' %><br>
</p>
</br>
<p>
        <i>Rodrigo Tello:</i> “Hola, me obsesiona la música y el diseño. Me gusta hacer cosas. También puedo responderte un correo y resolver problemas.”<br>
        <%=mail_to 'rodrigo@funkalab.com' %><br>
</p>

</div>
