<!--requires board_id -->
<% provide(:title, 'Invite') %>
<div class="row">
	<div class="span4 offset4">
		<h1>Invita a un amigo</h1>
		<h2>Invita a un amigo a ayudarte </h2>
		</br>
		<%= form_tag '/suscribe' do %>
		<%= hidden_field_tag 'board_id', @board_id %>
		<%= text_field_tag 'email1', nil, placeholder:'correo electrónico'%>
		<%= text_field_tag 'email2', nil, placeholder:'correo electrónico'%>
		<%= text_field_tag 'email3', nil, placeholder:'correo electrónico'%>
	</br>
		<%= submit_tag 'Enviar invitaciones', class: "btn btn-primary" %>
		<% end %>
		<% if session[:fb_access_token] %>
			<hr>
			o
			<br>
			<%= link_to fb_invite_link(@board_id) do %> <%= image_tag 'fb2.jpg', class: :fb %>
   			<%end%><%= link_to "Invita por Facebook", fb_invite_link(@board_id), class: :fb %>

		<%end%>
	</div>
</div>