
<% if !signed_in? %>
<div class='span12'>
<div class="row">
<div class="center span6 offset2 landingpage">
	<%= image_tag 'funkalab.png' %>
</br>
</br>
  <h1 class='landingpage'>A lab for your creative projects</h1>
  </br>
  <h3>Write down your idea. Invite friends that can help you out. Add images, videos or notes to feed your project with inspiration.</h3>
  </br>
</br>

  <%= form_for(@user) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>
  	<%= f.label :email %>
  	<%= f.text_field :email %>
    <%= f.submit "Sign up now!", class: "btn btn-large btn-primary" %>
   <% end %>
   <p>or <%= link_to "sign in", signin_path %></p>
   <hr>
      <%= link_to user_omniauth_authorize_path(:facebook) do %> <%= image_tag 'fb2.jpg', class: :fb %>
   <%end%><%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), class: "fb" %>
</br>
   
</div>

</div></div>
<% end %>