<% provide(:title, '') %>
</div>

  <%= render 'front'%>
  <%= render 'business'%>
  <%= render 'how'%>
  <%= render 'success'%>
  <%# render 'weekly'%>
  
  <%# render 'why'%>
  <%= render 'back'%>

<div class='container'>