<% provide(:title, '') %>
</div>
<% if !signed_in? %>

  <%= render 'front'%>
  <%= render 'success'%>
  <%= render 'weekly'%>
  <%= render 'how'%>
  <%= render 'why'%>
  <%= render 'back'%>

<%end%>

<div class='container'>