<% if !signed_in? %>

<div class="center hero-unit">

  <h1>Funkalab</h1>
  <h2>Connecting creatives with ideas</h2>

  <%= form_for(@user) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

  	<%= f.label :email %>
  	<%= f.text_field :email %>

    <%= f.submit "Sign up now!", class: "btn btn-large btn-primary" %>

   <% end %>

   or <%= link_to "sign in", signin_path %>
</div>

<% end %>
