<% provide(:title, '') %>
</div>

  <%= render 'front'%>
  <%= render 'success'%>
  <%= render 'weekly'%>
  <%= render 'how'%>
  <%= render 'why'%>
  <%= render 'back'%>


<div class='container'>