<% provide :title, "Iniciar sesion" %>
<div class='span12'>
<div class="row">
<div class="center span6 offset3 landingpage">
<h1>Iniciar sesión</h1>

</br>
</br>

    <%= form_for(:session, url: sessions_path) do |f| %>

	    <%= f.label :email, "Correo Electrónico" %>
	    <%= f.text_field :email %>

	    <%= f.label :password, "Contraseña" %>
	    <%= f.password_field :password %>
	 <br>
	    <%= f.submit "Iniciar sesión", class: "btn btn-primary" %>

	<% end %>

	O
	<br>
	<div class='fb'>
		   	<%= link_to user_omniauth_authorize_path(:facebook) do %>
		   		<%= image_tag 'fb2.jpg', class: :fbb %>
     		<%end%>
     		<%= link_to 'Inicia sesión con Facebook' , user_omniauth_authorize_path(:facebook), class: "fbb" %>
	</div>

</div>
</div>
</div>