<% provide :title, "Iniciar sesion" %>
<div class='span12'>
<div class="row">
<div class="center span6 offset3 landingpage">
<h1>Iniciar sesi칩n</h1>

</br>
</br>

    <%= form_for(:session, url: sessions_path) do |f| %>

	    <%= f.label :email, "Correo Electr칩nico" %>
	    <%= f.text_field :email %>

	    <%= f.label :password, "Contrase침a" %>
	    <%= f.password_field :password %>
	 <br>
	    <%= f.submit "Iniciar sesi칩n", class: "btn btn-primary" %>

	<% end %>

</div>
</div>
</div>