<div class="row-fluid">
	<div class="span12">
		<h2>===ADMINS===</h2>
		<h3><%=link_to 'Usuarios', 'admins/users'%></h3>
		<h3><%=link_to 'Comentarios', '/comments'%></h3>
		<h3><%=link_to 'Landing', '/sections'%></h3>
		<h3><%=link_to 'Proyectos exitosos', '/sprojects'%></h3>
		<h3><%=link_to 'Cuarentena', 'admins/quarantine'%></h3>
		<hr>
		<h3><%=link_to 'Email masivo', '/massemail'%></h3>
	</div>
</div>