
  <%= f.label :name, 'Nombre' %>
  <%= f.text_field :name %>

  <%if (@user.id.nil? || @user.uid < 0) then dis = false else dis = true end%>
  <%= f.label :email, 'Correo Electrónico' %>
  <%= f.text_field :email, disabled: dis %>

  <%= f.label :password, 'Nueva Contraseña' %>
  <%= f.password_field :password, disabled: dis %>

  <%= f.label :password_confirmation, "Confirmar Contraseña" %>
  <%= f.password_field :password_confirmation, disabled: dis %>

  <hr>
  <%if !@user.id.nil? && @user.uid == 0 %>
  <div class= 'row'>
    <div class='span1'>
  <%= image_tag @user.photo.url(:thumb) %>
    </div>
    <div class='span4'>
  <%= f.label :photo, 'Sube una foto de perfil' %>
  <%= f.file_field :photo, :accept => 'image/png,image/gif,image/jpeg'%>
    </div>
  </div>
  <%end%>

  <%= f.label :city, 'Ciudad' %>
  <div id='city'>
    <%= render 'city'%>
  </div>

  <%= f.label :categories, 'Áreas Creativas' %>
  <label class="checkbox inline"><%= f.check_box :c_art, checked: @user.c_art %>Arte</label>
  <label class="checkbox inline"><%= f.check_box :c_video, checked: @user.c_video %>Video</label>
  <label class="checkbox inline"><%= f.check_box :c_music, checked: @user.c_music %>Música</label>
  <label class="checkbox inline"><%= f.check_box :c_tecnology, checked: @user.c_tecnology %>Tecnología</label>
  <label class="checkbox inline"><%= f.check_box :c_design, checked: @user.c_design %>Diseño</label>

  <br>
  <br>

  <%= f.label :about, 'Acerca de ti' %>
  <%= f.text_area :about, maxlength: 200, placeholder:"Háblanos sobre ti ¿Qué te gusta hacer? ¿Cuáles son tus intereses?", rows: 4, class: 'span5' %>

  <%= f.label :link_a, '¿Dónde podemos conocer más sobre ti?' %>
  <%= f.text_field :link_a, placeholder: 'Facebook, Twitter, página web...' %>
<%= f.text_field :link_b, placeholder: 'Facebook, Twitter, página web...' %>
<%= f.text_field :link_c, placeholder: 'Facebook, Twitter, página web...' %>
<%= f.text_field :link_d, placeholder: 'Facebook, Twitter, página web...' %>