<% provide :title, @user.name %>
<% if !signed_in? %>
	<div class="idea textc">
		<h3>Para conectarte con este usuario <%= link_to 'inicia sesión', '/signin' %> o <%= link_to 'regístrate', root_path %>.</h3>
	</div>
	<br>
<% end %>
<div class="row-fluid">
	<div class="span12">
		<%if signed_in? && @user.id == current_user.id %>
			<h1>Mi Laboratorio
		<%else%>
			<h1>Laboratorio de <%= @user.name%>
		<%end%>
		 <small><%=@user.city%></small></h1>
		<span class="label label-info"><%= @user.category.name %></span>, <span class="label label-info"><%= @user.subcategory.name %></span>
		<br><br>
				 <%= render 'message'%>
				 <br>
		<h3><%=@user.about%></h3>
		<%= make_nice(@user.link_a)%>
		<%= make_nice(@user.link_b)%>
		<%= make_nice(@user.link_c)%>
		<%= make_nice(@user.link_d)%>
		<!--%= if current_user == @user then render 'collections/create_board' end %-->
		<hr>
		<h2>Proyectos Creados</h2>
		<%= render 'shared/boards', boards:@boards %>
		<hr>
		<h2>Colaborando</h2>
		<%= render 'shared/boards', boards:@collabs %>
	</div>
</div>