<div class = 'span8'>


	<ul id="myTab" class="nav nav-tabs">
	    <li class="active"><a href="#link" data-toggle="tab">Add a link or note</a></li>
	    <li><a href="#upload" data-toggle="tab">Upload an image</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="link">
			<%= form_for @board.items.build(collection_id: @board.id) do |f|%>
			<%= f.hidden_field :collection_id %>
			<%= f.text_field :content, placeholder: 'Add a link or note' %> 
		 	<%= f.submit "Post", class: "btn btn-small btn-primary" %>
		 	<%end%>
		</div>
		<div class="tab-pane fade" id="upload">
			<%= form_for current_user.attachments.build() do |f|%>
			<%= hidden_field_tag :collection_id, @board.id %>
 			<%= f.file_field :file, :accept => 'image/png,image/gif,image/jpeg' %>
 			<%= f.submit "Post", class: "btn btn-small btn-primary" %>
 			<%end%>
		</div>
	</div>
</div>
