<%= form_for @board.items.build(collection_id: @board.id) do |f| %>

	<div><%= f.hidden_field :collection_id %></div>
	<%= f.label 'add content' %>
 	<%= f.text_field :content %>

  	<%= f.submit "Append",class: "btn btn-small btn-primary" %>

<% end %>