<!-- requires board, size -->
<%= link_to board, class: "board-thumb" do %>
	<%# to be removed for production this category safe%>
	<%if board.category %>
		<div class= "<%='b'+board.category_id.to_s%>">
			<p><small><%= board.category.name %></small></p>
		</div>
	<%end%>
	<div class='thmbcontent'>
	<p><%= board.title %></p>
	<p><small><%= tiempo(board.created_at) %>, <%= if board.city_id == 0 then 'En Línea' else board.city.name end %></small></p>
	<p><small><%= board.idea %></small></p>
	<% if board.cover != 0 %>
		<%= cover(board.items.find(board.cover))%>
	<%else%>
		<%= image_tag(dummycover(board.category_id))%>
	<% end %>
	</div>
<% end %>