<%# recibe user %>
<%= link_to user, class: "user-card" do %>
    <div class='span1'>
		<% if user.uid != 0 %>
			<%=image_tag 'https://graph.facebook.com/' + user.uid.to_s + '/picture' %>
		<%else%>
			<%if user.photo.url != '/photos/original/missing.png' %>
				<%= image_tag user.photo.url(:thumb), size:'50x50' %>
			<%else%>
				<%= image_tag 'dummyface.png'%>
			<%end%>
		<%end%>
	    </div>
	    <div class 'span2'>
		<p><%= user.name %></p>
		<p><small><%= if user.city_id !=0 then user.city.name end %></small></p>
	</div>
	<p><small><%= user.about[0..82
		] %></small></p>
	
	Ãreas:<%= render 'shared/categories_cards', user: user %>
	
<% end %>