<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>Forma de negocios:</p>
<br>
<p>Asunto: <%= @sub %></p>
<p>Nombre: <%= @name %></p>
<p>Compañía o marca: <%= @company %></p>
<p>Email: <%= @email %></p>
<p>Teléfono: <%= @phone %></p>
<p>Mensaje: <%= @message %></p>
  </body>
</html>