<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola <%= @owner.name%>,</h1>
<p>
    <%= link_to @helper.name, @helper_url %> quiere colaborar contigo en tu proyecto <%= link_to @project.title, @project_url %>.
</p>
<br>
<p>
      "<%= @request.message %>"</p>
      <br>
<p>
   ¡Genial! ¡Alguien más quiere hacer realidad este proyecto!
</p>
<p> Acepta su <%= link_to 'solicitud', @request_url %> para empezar a colaborar en Funkalab. </p>
<br>
<p>Gracias,</p>
   <p> Tus amigos de Funkalab.</p>
  </body>
</html>