<div class='footer'>
	<div class='span9'>
	  <%= link_to "Acerca de", '/about'%> | 
	  <%= link_to "Privacidad", '/privacy'%> | 
	  <%= link_to "Términos de uso", '/terms'%>
	</div>
	<div class='span1'>
	  <%= link_to 'https://www.facebook.com/pages/Funkalab/165162983601927', target: '_blank' do %><%=image_tag "icon_facebook.png" %><%end%>
	  <%= link_to 'https://twitter.com/funkalab', target: '_blank' do %><%=image_tag "icon_twitter.png" %><%end%>
	</div>
</div>